<h1> About Us </h1>
<p>



Stroll through the four modules of the Yacht & Boat Design course, explore what Overview of Naval Architecture for Marine Professionals offers. Apply online or request a catalog.

In order to meet the emerging needs of both the marine industry and its design practitioners, the Westlawn Institute has developed distinct course offerings. Depending on your career objectives, experience, and current situation, you can choose the one that best matches your requirements. </p>
<%= image_tag "http://akasiayachting.com/wp-content/uploads/images/2010/08/yacht-building-in-turkey-master1-1350-630.jpg", size: "700x500" %>