<h1>Contact Us</h1>
<p>



Westlawn Institute of Marine Technology<br>
c/o Maine Maritime Museum<br>
243 Washington Street<br>
Bath, Maine 04530 USA<br>
Tel: 800-832-7430<br>
Tel: 207-747-0088<br>
Fax: 207-747-0084<br>
Email: info@westlawn.edu<br>


Please contact us to discuss any questions you may have about Westlawn and our programs.</p>
<%= image_tag "https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/6/000/1e3/03e/244e265.jpg", size: "200x200"%>
